<h1>Sample Home Page</h1>
<p>
	This is the home page. <br>
	find me in /app/view/pages/home.html.erb <br> <br>
	
	<%= link_to 'Sign up now!', new_user_path, :class => 'signup_button round_button' %>

</p>